@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    list-style: none !important;
    text-decoration: none !important;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}


:root {
    --primary-color: #913bff;
    --primary-light-color: #ede3ff;

    --primary-font-color: #010d4c;
    --primary-font-light-color: #00284ecc;
    --nav-font-color: #02274a;
}

/* utility classes */
.gap-150 {
    gap: 150px;
}

.pb-120 {
    padding-bottom: 120px;
}

.mt-130 {
    margin-top: 130px;
}

.mt-260 {
    margin-top: 260px;
}

.primary-btn-bg-color {
    background-color: var(--primary-color);
}

.primary-btn-bg-light-color {
    background-color: var(--primary-light-color);
}

.primary-btn-font-color {
    color: var(--primary-color);
}

.btn-hover:hover {
    background-color: var(--primary-light-color) !important;
    color: var(--primary-color) !important;
}

.new:hover {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}

.tran3s {
    transition: 0.3s all linear !important;
}

.font-60 {
    font-size: 60px;
}

.font-18 {
    font-size: 18px;
}

.new-bg-color {
    background: linear-gradient(0deg, rgba(248, 253, 255, 0), rgba(241, 252, 255, .518) 48.22%, #f6fdff);
}

/* header section */
header {
    width: 100%;
    z-index: 999;
}

header:before {
    content: '';
    position: absolute;
    width: 220px;
    height: 220px;
    background-color: #fff;
    box-shadow: 6px 73px 62px rgba(0, 12, 119, .03);
    left: -50px;
    top: -70px;
    border-radius: 50%;
    z-index: -1;
}

.drop-down-menu {
    background-color: #fff;
    padding: 10px;
    box-shadow: 6px 73px 62px rgba(0, 12, 119, .03);
    border-radius: 8px;
    position: absolute;
    left: 20%;
    display: none;
    transition: 0.3s all linear;
}

.pages:hover .drop-down-menu {
    display: block;
}

.drop-down-menu ul li {
    padding: 8px 15px;
    border-radius: 8px;
}

.drop-down-menu ul li:hover {
    background-color: var(--primary-color);
}

.drop-down-menu ul li:hover a {
    color: #fff;
}

nav ul li a {
    font-size: 18px;
    color: var(--nav-font-color);
}

.active {
    color: var(--primary-color) !important;
    position: relative;
}

.active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-color);
    bottom: 15px;
}

.contact-no a {
    color: var(--primary-color) !important;
}

.hero-heading {
    font-size: 85px;
}

.hero-heading span {
    color: var(--primary-color);

}

/* hero section */

.hero-section {
    background: linear-gradient(0deg, rgba(248, 253, 255, 0), rgba(241, 252, 255, .518) 48.22%, #f6fdff);
    padding: 220px 0 100px;
    position: relative;
    z-index: 2;
}

.request-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-btn:hover::before {
    animation: zoomin .3s linear;
    animation-iteration-count: initial;
}

@keyframes zoomin {
    0% {
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.508);
        opacity: 0;
    }

    100% {
        width: 100px;
        height: 100px;
        opacity: 1;
    }
}

.request-btn::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    transition: 0.1s all linear;
}

.rotate-img {
    top: -5%;
    right: 37%;
    width: 24%;
    animation: rotate 20s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);

    }
}

.play-btn {
    padding: 5px 13px;
    transition: 0.3s all linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn:hover {
    background-color: var(--primary-light-color);

}

.play-btn:hover i {
    color: var(--primary-color) !important;

}

.illustration-holder {
    position: relative;
}

.illustration-holder:before {
    background: #fff;
    border-radius: 50%;
    box-shadow: 6px 73px 62px rgba(0, 12, 119, .03);
    content: "";
    height: 1056px;
    position: absolute;
    right: -300px;
    top: -365px;
    width: 1056px;
    z-index: -1;
}

/* service section */
.service-heading h2 {
    font-size: 55px;
}

.service-heading p {
    color: var(--primary-font-color);
}

.oval-shape {
    background-color: var(--primary-light-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: jumpingball 3s linear infinite;
}

@keyframes jumpingball {
    0% {
        transform: translateZ(0);
    }

    50% {
        transform: translate3d(0, -20px, 0);

    }

    100% {
        transform: translateZ(0);

    }
}

.service-card {
    padding: 50px 40px;
}

.active-box {
    background: #fff;
    box-shadow: 0 30px 60px rgba(0, 19, 87, .04);
}

.group-image {
    bottom: 0;
    right: 20%;
    position: absolute;
    z-index: -1;

}

.group-image img:nth-child(1) {
    animation: jumpingball 3s linear infinite;
}

.group-image img:nth-child(2) {
    animation: jumpingball 3s linear infinite;
    animation-delay: 1s;
}

.group-image img:nth-child(3) {
    animation: jumpingball 3s linear infinite;
}

.scale-ball {
    width: 25px;
    height: 25px;
    background-color: var(--primary-light-color);
    border-radius: 50%;
    animation: scale-up 2s linear infinite;
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }

    50% {

        transform: scale(.50);
    }

    100% {
        transform: scale(1);

    }
}

.audience {
    position: relative;
    background: linear-gradient(180deg, rgba(248, 253, 255, 0), rgba(241, 252, 255, .518) 48.22%, #f6fdff);
    overflow: hidden;
    z-index: 5;
}

.audience-section {
    position: relative;
}

.audience-section:before {
    background: #fff;
    border-radius: 50%;
    box-shadow: 6px 73px 62px rgba(0, 38, 174, .02);
    content: "";
    height: 918px;
    left: -25%;
    position: absolute;
    top: -28%;
    width: 918px;
    z-index: -1;
}

/* work section */
.some-boxes {
    box-shadow: -20px 20px 50px rgba(0, 40, 99, .05);
}


.circle span {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.291);
    transition: 0.3s all ease-in-out;
}

.some-boxes:hover .circle span {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.card-info h3 {
    color: var(--primary-font-color);
    font-size: 19px;
}

.card-info p {
    font-size: 17px;
    color: var(--primary-font-light-color);
}

.box-image:nth-child(1) {
    top: 50px;
    right: 0;
}

.box-image:nth-child(2) {
    top: 25px;
    right: 0;
}

.box-image:nth-child(3) {
    top: 0;
    right: 0;
}

.box-group-image {
    top: 40%;
    right: 6%;
}

/* box section */
.inner-container {
    border-radius: 30px;
    background-color: #7736ff;
    box-shadow: 0 30px 80px rgba(14, 100, 215, .04);
}

.shape-img {
    top: -100px;
    z-index: -1;
}

.bg-color {
    background: linear-gradient(180deg, rgba(248, 253, 255, 0), rgba(241, 252, 255, .518) 48.22%, #f6fdff);
    overflow: hidden;
    z-index: 5;
}

.swiper-pagination-bullet {
    background: rgba(145, 59, 255, .19) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--primary-color) !important;
}

.a-slider {
    margin-top: 60px;
}

.profile-image>img:nth-child(1) {
    animation: jumpingball 3s linear infinite;
}

.profile-image>img:nth-child(2) {
    animation: jumpingball 3s linear infinite;
    animation-delay: 1.5s;
}

.profile-image>img:nth-child(3) {
    animation: jumpingball 3s linear infinite;

}

.profile-image>img:nth-child(4) {
    animation: jumpingball 3s linear infinite;
    animation-delay: 1.5s;
}

/* faq section */
.shape-36 {
    bottom: -70%;
    right: 20px;
    z-index: -1;
}

/* blog section */


.blog-card {
    border-radius: 8px;
    box-shadow: 0 20px 60px rgba(0, 73, 140, .05);
    transition: 0.3s all linear;

}

.blog-card:hover {
    transform: translateY(-10px);
}

.blog-info {
    padding: 42px 32px 20px;
    position: relative;
    z-index: 999;
}

.blog-info p {
    font-size: 25px;
}

.blog-image {
    position: relative;
    overflow: hidden;
}

.blog-image::after {
    bottom: 20px;
    position: absolute;
    content: "➝";
    font-size: 22px;
    font-weight: 700;
    right: 22px;
    transform: scale(0);
    transition: .3s all linear;
    color: #fff;
}

.blog-image::before {
    content: '';
    position: absolute;
    bottom: -15%;
    right: -15%;
    display: flex;
    align-items: center;
    color: #fff;
}

.blog-card:hover .blog-image::after {
    transform: scale(1);
}

.blog-card:hover .blog-image::before {
    animation: big-circle .3s linear;
    animation-fill-mode: forwards;
    animation-iteration-count: initial;

}

@keyframes big-circle {
    0% {
        width: 0;
        height: 0;
        background-color: var(--primary-color);
    }

    100% {
        width: 150px;
        height: 150px;
        background-color: var(--primary-color);
        border-radius: 50%;
    }
}

/* contact section */
.contact p {
    font-size: 20px;
    line-height: 2.5rem;
    color: var(--primary-font-light-color);
    font-weight: 300;
}

.only-image {
    background-color: #fff;
    box-shadow: 0 25px 60px rgba(0, 106, 204, .05);
    border-radius: 14px;
    padding: 0 38px;
    height: 75px;
    align-content: center;
}

/* footer section */
footer {
    background: linear-gradient(0deg, rgba(248, 253, 255, 0), rgba(241, 252, 255, .518) 48.22%, #f6fdff);
    padding: 85px 0 0;
}

.search-box input {
    box-shadow: 0 10px 20px rgba(0, 33, 63, .03);
    border-radius: 8px;
    padding: 30px 155px 30px 25px;
    height: 100%;
    width: 100%;
}

.search-box input:focus {
    outline: none;
}

.search-box button {
    right: 3%;
    bottom: 18%;
}

footer ul li a {
    font-size: 17px;
    color: #000;
}

footer ul li a:hover {
    color: var(--primary-color);
}